_key
_secretsrc*
_vault-volumes
.devcontainer/.env
.devcontainer/Dockerfile.dockerx
services/core-dns/Corefile
services/core-dns/internal-domain.db
infrastructure/talos/_out/*
infrastructure/talos/secrets.yaml
infrastructure/talos/talosconfig
infrastructure/talos/kubeconfig
