global
    log stdout format raw local0 info
    # SSL Standard Einstellungen
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

# Optional: Stats-Seite (für Monitoring)
listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s



#--------------------------------------------------------------------
# HTTP(s) Load Balancing (HTTPS)
#--------------------------------------------------------------------

# Frontend für HTTP (Port 80) - Redirect zu HTTPS
frontend from_http
    bind *:80
    mode http
    option forwardfor
    # Promxox
    acl host_proxmox hdr(host) -i hyper.my.vadue.de
    # HTTP zu HTTPS Redirect
    redirect scheme https code 301 if host_proxmox
    acl host_app hdr(host) -i app.my.vadue.de
    use_backend to_rotterdam-k8s-wk-http if host_app

# Frontend für HTTPS (Port 443)
frontend from_https
    bind *:443 ssl crt /etc/ssl/private/placeholder.pem
    mode http
    option forwardfor
    # Proxmox
    acl host_proxmox hdr(host) -i hyper.my.vadue.de
    use_backend to_proxmox_https if host_proxmox



#--------------------------------------------------------------------
# HProxmox Backend
#--------------------------------------------------------------------

backend to_proxmox_https
    mode http
    balance roundrobin
    cookie SERVERID insert indirect nocache
    option httpchk GET / HTTP/1.0
    http-check expect status 200-403  # Proxmox könnte 403 zurückgeben, bevor du eingeloggt bist
    timeout connect 10s
    timeout server 30s
    # proxmox
    server proxmox1 hyper01.my.vadue.de:8006 check ssl verify none cookie proxmox1 inter 5s rise 2 fall 3
    server proxmox2 hyper02.my.vadue.de:8006 check ssl verify none cookie proxmox2 inter 5s rise 2 fall 3
    server proxmox3 hyper03.my.vadue.de:8006 check ssl verify none cookie proxmox3 inter 5s rise 2 fall 3



#--------------------------------------------------------------------
# Kubernetes API Load Balancing (TCP)
#--------------------------------------------------------------------

frontend from_k8s-api
    bind *:6443
    mode tcp
    option tcplog
    timeout client 300s
    # rotterdam
    default_backend to_rotterdam_k8s_api


backend to_rotterdam_k8s_api
    mode tcp
    balance roundrobin
    timeout server 30s
    timeout connect 10s
    option tcpka
    # rotterdam
    server rotterdam-cp01 rotterdam-cp01.my.vadue.de:6443 no-check
    server rotterdam-cp02 rotterdam-cp02.my.vadue.de:6443 no-check
    server rotterdam-cp03 rotterdam-cp03.my.vadue.de:6443 no-check

#--------------------------------------------------------------------
# Talos API Load Balancing (TCP)
#--------------------------------------------------------------------

frontend from_talos-api
    bind *:50000
    mode tcp
    option tcplog
    timeout client 30s
    # rotterdam
    default_backend to_rotterdam_talos_api

backend to_rotterdam_talos_api
    mode tcp
    balance roundrobin
    timeout server 30s
    timeout connect 10s
    # rotterdam
    server rotterdam-cp01 rotterdam-cp01.my.vadue.de:50000 no-check
    server rotterdam-cp02 rotterdam-cp02.my.vadue.de:50000 no-check
    server rotterdam-cp03 rotterdam-cp03.my.vadue.de:50000 no-check



backend to_rotterdam-k8s-wk-http
    mode http
    balance roundrobin
    cookie SERVERID insert indirect nocache
    option httpchk GET / HTTP/1.0
    http-check expect status 200-403  # Proxmox könnte 403 zurückgeben, bevor du eingeloggt bist
    timeout connect 10s
    timeout server 30s
    # rotterdam
    server rotterdam-wk01 10.0.2.12:30080
    server rotterdam-wk02 10.0.2.22:30080
    server rotterdam-wk03 10.0.2.32:30080
